<!DOCTYPE html>
<html lang="en">
<head>
    <title>Students list</title>
</head>
<body>
    <h1>Search here</h1>
    
    <form action="/search">
        <input type="search" name="name" placeholder="search name">
        <input type="search" name="email" placeholder="search Email">
        <input type="search" name="mno" placeholder="search Mobile Number">
        <input type="submit" value="Search">
    </form>
    <h1>
        Students list
    </h1>
    <table border="1" width="100%">
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>E.mail</th>
            <th>Mobile No</th>
           
        </tr>
        <%  if(students.length > 0){ %>
            <%  for(var i=0;i<students.length;i++){ %>
                <tr>
                    <td><%- students[i].id %></td>
                    <td><%- students[i].name %></td>
                    <td><%- students[i].email %></td>
                    <td><%- students[i].mno %></td>
                
                </tr>
            <%  } %>   
        <% }else{ %> 
            <tr>
                <td>students data not found</td>
            </tr>
        <% } %>    
    </table>
</body>
</html>